<div id="dontmiss-bar">

    <div class="ribbon-shadow-left">&nbsp;</div>
    <div id="dontmiss-header">Don't Miss</div>

    <div id="dontmiss-arrow">&nbsp;</div>

    <div class="dontmiss" id="dontmiss">

        <div class="panel">

            <div class="image">
                <a href="single-review-numbers.php"><img width="40" height="40" src="http://www.industrialthemes.com/made/wp-content/uploads/2012/06/restaurants7-40x40.jpg" alt="restaurants7" /></a>
            </div>
            <div class="title">
                <a href="single-review-numbers.php">
                    A Sandwich a Day: Fried Scallops from Brucie
                </a>
            </div>

        </div>
        <div class="panel">

            <div class="image">
                <a href="single-review-numbers.php"><img width="40" height="40" src="http://www.industrialthemes.com/made/wp-content/uploads/2012/06/fashion4-40x40.jpg" alt="fashion4" /></a>
            </div>
            <div class="title">
                <a href="single-review-numbers.php">
                    Yohji Yamamoto Autumn (Fall) / Winter 2012 men's
                </a>
            </div>

        </div>
        <div class="panel">

            <div class="image">
                <a href="single-review-numbers.php"><img width="40" height="40" src="http://www.industrialthemes.com/made/wp-content/uploads/2012/06/music1-40x40.jpg" alt="music1" /></a>
            </div>
            <div class="title">
                <a href="single-review-numbers.php">
                    Gotye &#8211; Mirrors
                </a>
            </div>

        </div>
        <div class="panel">

            <div class="image">
                <a href="single-review-numbers.php"><img width="40" height="40" src="http://www.industrialthemes.com/made/wp-content/uploads/2012/06/movies3-40x40.jpg" alt="movies3" /></a>
            </div>
            <div class="title">
                <a href="single-review-numbers.php">
                    The Hobbit: An Unexpected Journey
                </a>
            </div>

        </div>
        <div class="panel">

            <div class="image">
                <a href="single-review-numbers.php"><img width="40" height="40" src="http://www.industrialthemes.com/made/wp-content/uploads/2012/06/products4-40x40.jpg" alt="products4" /></a>
            </div>
            <div class="title">
                <a href="single-review-numbers.php">
                    Klipsch Gallery G-17 iPad speaker
                </a>
            </div>

        </div>

    </div>

    

    <br class="clearer" />
</div> <!-- end don't miss posts -->