<div id="cat-menu" class="cat-menu">

    <a class="home-link" href="index.php">&nbsp;</a>

    <ul id="menu-main-menu">
        <li>
            <a href="archive-a.php">Layouts</a>
            <ul>
                <li><a href="index-full-width.php">Full-Width Homepage</a></li>
                <li><a href="archive-a.php">Archive Layout A</a></li>
                <li><a href="archive-b.php">Archive Layout B</a></li>
                <li><a href="archive-c.php">Archive Layout C</a></li>
                <li><a href="archive-d.php">Archive Layout D</a></li>
                <li><a href="archive-e.php">Archive Layout E</a></li>
                <li><a href="archive-f.php">Archive Layout F</a></li>
            </ul>
        </li>
        <li><a href="single-post.php">Single Blog Post</a></li>
        <li>
            <a href="single-review-numbers.php">Single Reviews</a>
            <ul>
                <li><a href="single-review-numbers.php">Number Ratings</a></li>
                <li><a href="single-review-percentages.php">Percentage Ratings</a></li>
                <li><a href="single-review-stars.php">Star Ratings</a></li>
                <li><a href="single-review-letters.php">Letter Grade Ratings</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Drop Down Menu</a>
            <ul>
                <li><a href="#">Sub Menu Item</a></li>
                <li><a href="#">Sub Menu Item</a></li>
                <li>
                    <a href="#">Second Level Drop Down</a>
                    <ul>
                        <li><a href="#">Sub Menu Item</a></li>
                        <li>
                            <a href="#">Third Level Drop Down</a>
                            <ul>
                                <li><a href="#">Sub Menu Item</a></li>
                                <li><a href="#">Sub Menu Item</a></li>
                                <li><a href="#">Sub Menu Item</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Sub Menu Item</a></li>
                    </ul>
                </li>
                <li><a href="#">Sub Menu Item</a></li>
                <li><a href="#">Sub Menu Item</a></li>
                <li><a href="#">Sub Menu Item</a></li>
            </ul>
        </li>
        <li><a href="review-directory-a.php">Review Directory Layout A</a></li>
        <li><a href="review-directory-b.php">Review Directory Layout B</a></li>
    </ul>

    <select id="select-menu-main-menu">
        <option>Category Navigation</option>
        <option value="archive-a.php">Layouts</option>
        <option value="index-full-width.php">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Full-Width Homepage</option>
        <option value="archive-a.php">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Archive Layout A</option>
        <option value="archive-b.php">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Archive Layout B</option>
        <option value="archive-c.php">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Archive Layout C</option>
        <option value="archive-d.php">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Archive Layout D</option>
        <option value="archive-e.php">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Archive Layout E</option>
        <option value="archive-f.php">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Archive Layout F</option>
        <option value="single-post.php">Single Blog Post</option>
        <option value="single-review-numbers.php">Single Reviews</option>
        <option value="single-review-numbers.php">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Number Ratings</option>
        <option value="single-review-percentages.php">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Percentage Ratings</option>
        <option value="single-review-stars.php">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Star Ratings</option>
        <option value="single-review-letters.php">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Letter Grade Ratings</option>
        <option value="review-directory-a.php">Review Directory layout A</option>
        <option value="review-directory-b.php">Review Directory layout B</option>
    </select>



</div>

<br class="clearer hide-responsive-small" />