

<div id="logo-bar-wrapper">
    <!--begin the main header logo area-->

    <div id="logo-bar">

        <div id="logo-wrapper">

            <div id="logo">
                <!--logo and section header area-->

                <a href="index.php">
                    <img id="site-logo" alt="Made" src="~/Content/images/logo-main.png" />
                    <img id="site-logo-iphone" alt="Made" src="images/logo-main.png" />
                    <img id="site-logo-ipad" alt="Made" src="images/logo-main.png" />
                </a>

            </div>

            <br class="clearer" />

            <div class="subtitle"></div>

        </div>

        <div id="ad-header">
            <!--header ad-->
            <a href="http://themeforest.net/?ref=IndustrialTheme"><img src="http://demos.brianmcculloh.com/continuum/files/2011/03/ad-top.png" alt="ad" /></a>
        </div>

        <br class="clearer" />

    </div>

    <div id="logo-bar-shadow">&nbsp;</div>

</div> <!--end the logo area -->