

<div id="top-menu-wrapper">
    <!-- begin top menu -->

    <div class="ribbon-shadow-left">&nbsp;</div>

    <div id="top-menu">

        <div class="container mid">

            <div class="menu">
                <ul id="menu-top-menu">
                    <li>
                        <a href="page-jquery-extras.php">jQuery Extras</a>
                        <ul>
                            <li><a href="page-jquery-extras.php">Sliders</a></li>
                            <li><a href="page-jquery-extras.php">Toggles</a></li>
                            <li><a href="page-jquery-extras.php">Tabs</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="page-fancy-boxes.php">Styled Goodies</a>
                        <ul>
                            <li><a href="page-fancy-boxes.php">Fancy Boxes</a></li>
                            <li>
                                <a href="page-styled-lists.php">Styled Lists</a>
                                <ul>
                                    <li><a href="#">Sample Menu Item</a></li>
                                    <li><a href="#">Sample Menu Item</a></li>
                                    <li><a href="#">Sample Menu Item That Is Really Really Really Super Long!</a></li>
                                </ul>
                            </li>
                            <li><a href="page-buttons.php">Buttons</a></li>
                            <li><a href="page-columns.php">Columns</a></li>
                            <li><a href="page-styled-html-elements.php">More HTML Elements</a></li>
                        </ul>
                    </li>
                    <li><a href="404.php">Custom 404 Page</a></li>
                    <li><a href="page-full-width.php">Full-Width page</a></li>
                    <li><a href="page-contributors.php">Contributors Listing</a></li>
                </ul>
            </div>

            &nbsp;

            <select id="select-menu-top-menu">
                <option>Page Navigation</option>
                <option value="page-jquery-extras.php">jQuery Extras</option>
                <option value="page-jquery-extras.php">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sliders</option>
                <option value="page-jquery-extras.php">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Toggles</option>
                <option value="page-jquery-extras.php">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tabs</option>
                <option value="page-fancy-boxes.php">Styled Goodies</option>
                <option value="page-fancy-boxes.php">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fancy Boxes</option>
                <option value="page-styled-lists.php">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Styled Lists</option>
                <option value="page-buttons.php">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Buttons</option>
                <option value="page-columns.php">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Columns</option>
                <option value="page-styled-html-elements.php">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;More HTML Elements</option>
                <option value="404.php">Custom 404 Page</option>
                <option value="page-full-width.php">Full-Width Page</option>
                <option value="page-contributors.php">Contributors Listing</option>
            </select>

        </div>

        <div id="top-widget">

            <div class="top-social">

                <a href="#" class="rss">&nbsp;</a>

                <a href="#" class="facebook">&nbsp;</a>

                <a href="#" class="twitter">&nbsp;</a>

            </div>

        </div>

        <div id="search">

            <div class="wrapper">

                <div class="inner">

                    <!-- SEARCH -->
                    <form method="get" id="searchformtop" action="search.php">
                        <input type="text" value="search" onfocus="if (this.value == 'search') {this.value = '';}" onblur="if (this.value == '') {this.value = 'search';}" name="s" id="s" />
                    </form>

                </div>

            </div>

        </div>

        <br class="clearer" />

    </div>

    <div class="ribbon-shadow-right">&nbsp;</div>

</div>