<div id="spotlight-wrapper">
    <div class="ribbon-shadow-left">&nbsp;</div>
    <div class="section-wrapper">
        <!-- spotlight section header -->

        <div class="section">
            In The Spotlight
        </div>

    </div>

    <div class="ribbon-shadow-right">&nbsp;</div>

    <div class="section-arrow">&nbsp;</div>

    <div class="spotlight">

        <div id="spotlight-slider">
            <!-- begin spotlight slider -->

            <ul>

                <li>

                    <div class="post-panel">

                        <div class="category">

                            <div class="ribbon-shadow-left">&nbsp;</div>

                            <div class="icon" style="background:url(http://www.industrialthemes.com/made/wp-content/themes/made/images/review-movie-light.png) no-repeat 0px 0px;">&nbsp;</div>

                            <div class="catname">
                                Movie Review
                            </div>

                            <div class="category-arrow">&nbsp;</div>

                        </div>

                        <a class="darken" href="single-review-numbers.php"><img width="300" height="170" src="http://www.industrialthemes.com/made/wp-content/uploads/2012/06/movies2-300x170.jpg" alt="movies2" /></a>

                        <div class="inner">

                            <h2><a href="single-review-numbers.php">The Bourne Legacy</a></h2>

                            <div class="excerpt">Ut suscipit dapibus tellus, vitae gravida lectus faucibus sed. Sed dapibus mauris vulputate quam imperdiet egestas. Ut suscipit dapibus tellus, vitae gravida lectus faucibus sed. Sed dapibus mauris vulputate quam imperdiet eges...</div>

                        </div>

                        <div class="more-bar">

                            <div class="arrow-catpanel-top">&nbsp;</div>

                            <div class="rating-wrapper small"><div class="number color3">42&#37;</div></div>

                            <div class="comments">

                                <a href="single-review-numbers.php" title="Comment on The Bourne Legacy">0 comments</a>

                            </div>

                            <div class="more"><a href="single-review-numbers.php">More</a></div>

                        </div>

                    </div>

                </li>

                <li>

                    <div class="post-panel right">

                        <div class="category">

                            <div class="ribbon-shadow-left">&nbsp;</div>

                            <div class="icon" style="background:url(http://www.industrialthemes.com/made/wp-content/themes/made/images/review-fashion-light.png) no-repeat 0px 0px;">&nbsp;</div>

                            <div class="catname">
                                Fashion Review
                            </div>

                            <div class="category-arrow">&nbsp;</div>

                        </div>

                        <a class="darken" href="single-review-numbers.php"><img width="300" height="170" src="http://www.industrialthemes.com/made/wp-content/uploads/2012/06/fashion3-300x170.jpg" alt="fashion3" /></a>

                        <div class="inner">

                            <h2><a href="single-review-numbers.php">5 Colorful Watches From Zappos for under $50</a></h2>

                            <div class="excerpt">Donec a tellus a eros laoreet ultrices non non nisi. Nulla et sem nisi. Praesent egestas ultricies feugiat. In hac habitasse platea dictumst. Cras a lacus erat. Aenean tempor nibh non lorem vulputate sodales. Suspendisse erat d...</div>

                        </div>

                        <div class="more-bar">

                            <div class="arrow-catpanel-top">&nbsp;</div>

                            <div class="rating-wrapper small"><div class="letter color3">C</div></div>

                            <div class="comments">

                                <a href="single-review-numbers.php" title="Comment on 5 Colorful Watches From Zappos for under $50">0 comments</a>

                            </div>

                            <div class="more"><a href="single-review-numbers.php">More</a></div>

                        </div>

                    </div>

                    <div class="clearer"></div>

                </li>

                <li>

                    <div class="post-panel">

                        <div class="category">

                            <div class="ribbon-shadow-left">&nbsp;</div>

                            <div class="icon" style="background:url(http://www.industrialthemes.com/made/wp-content/themes/made/images/review-restaurant-light.png) no-repeat 0px 0px;">&nbsp;</div>

                            <div class="catname">
                                Restaurant Review
                            </div>

                            <div class="category-arrow">&nbsp;</div>

                        </div>

                        <a class="darken video" href="single-review-numbers.php"><img width="300" height="170" src="http://www.industrialthemes.com/made/wp-content/uploads/2012/06/restaurants6-300x170.jpg" alt="restaurants6" /></a>

                        <div class="inner">

                            <h2><a href="single-review-numbers.php">Sugar Rush: Banana Stracciatella Gelato from Eataly</a></h2>

                            <div class="excerpt">Donec sollicitudin venenatis mattis. Vestibulum fermentum, risus a luctus fermentum, enim purus aliquet tellus, id interdum nisl velit nec diam. Etiam mauris odio, aliquam a elementum eu, vulputate eu nunc.</div>

                        </div>

                        <div class="more-bar">

                            <div class="arrow-catpanel-top">&nbsp;</div>

                            <div class="rating-wrapper small"><div class="stars yellow"><div class="star  full">&nbsp;</div><div class="star  full">&nbsp;</div><div class="star  half">&nbsp;</div><div class="star ">&nbsp;</div><div class="star ">&nbsp;</div></div></div>

                            <div class="comments">

                                <a href="single-review-numbers.php" title="Comment on Sugar Rush: Banana Stracciatella Gelato from Eataly">0 comments</a>

                            </div>

                            <div class="more"><a href="single-review-numbers.php">More</a></div>

                        </div>

                    </div>

                </li>

                <li>

                    <div class="post-panel right">

                        <div class="category">

                            <div class="ribbon-shadow-left">&nbsp;</div>

                            <div class="icon" style="background:url(http://www.industrialthemes.com/made/wp-content/themes/made/images/review-music-light.png) no-repeat 0px 0px;">&nbsp;</div>

                            <div class="catname">
                                Music Review
                            </div>

                            <div class="category-arrow">&nbsp;</div>

                        </div>

                        <a class="darken video" href="single-review-numbers.php"><img width="300" height="170" src="http://www.industrialthemes.com/made/wp-content/uploads/2012/06/music2-300x170.jpg" alt="music2" /></a>

                        <div class="inner">

                            <h2><a href="single-review-numbers.php">The Lumineers &#8211; The Lumineers</a></h2>

                            <div class="excerpt">Donec a tellus a eros laoreet ultrices non non nisi. Nulla et sem nisi. Praesent egestas ultricies feugiat. In hac habitasse platea dictumst. Cras a lacus erat. Aenean tempor nibh non lorem vulputate sodales. Suspendisse erat d...</div>

                        </div>

                        <div class="more-bar">

                            <div class="arrow-catpanel-top">&nbsp;</div>

                            <div class="rating-wrapper small"><div class="number color5">8.6</div></div>

                            <div class="comments">

                                <a href="single-review-numbers.php" title="Comment on The Lumineers &#8211; The Lumineers">0 comments</a>

                            </div>

                            <div class="more"><a href="single-review-numbers.php">More</a></div>

                        </div>

                    </div>

                    <div class="clearer"></div>

                </li>

            </ul>

        </div> <!--end spotlight slider-->
        <!-- responsive version -->

        <div id="spotlight-slider-responsive">
            <!-- begin spotlight slider -->

            <ul>

                <li>

                    <div class="post-panel">

                        <div class="category">

                            <div class="ribbon-shadow-left">&nbsp;</div>

                            <div class="icon" style="background:url(http://www.industrialthemes.com/made/wp-content/themes/made/images/review-movie-light.png) no-repeat 0px 0px;">&nbsp;</div>

                            <div class="catname">
                                Movie Review
                            </div>

                            <div class="category-arrow">&nbsp;</div>

                        </div>

                        <a class="darken small" href="single-review-numbers.php"><img width="230" height="135" src="http://www.industrialthemes.com/made/wp-content/uploads/2012/06/movies2-230x135.jpg" alt="movies2" /></a>

                        <div class="inner">

                            <h2><a href="single-review-numbers.php">The Bourne Legacy</a></h2>

                            <div class="excerpt">Ut suscipit dapibus tellus, vitae gravida lectus faucibus sed. Sed dapibus mauris vulputate quam imperdiet egestas. Ut suscipit dapibus tellus, vitae gravida lectus faucibus sed. Sed dapibus mauris vulputate quam imperdiet eges...</div>

                        </div>

                        <div class="more-bar">

                            <div class="arrow-catpanel-top">&nbsp;</div>

                            <div class="rating-wrapper small"><div class="number color3">42&#37;</div></div>

                            <div class="comments">

                                <a href="single-review-numbers.php" title="Comment on The Bourne Legacy">0 comments</a>

                            </div>

                            <div class="more"><a href="single-review-numbers.php">More</a></div>

                        </div>

                    </div>

                </li>

                <li>

                    <div class="post-panel right">

                        <div class="category">

                            <div class="ribbon-shadow-left">&nbsp;</div>

                            <div class="icon" style="background:url(http://www.industrialthemes.com/made/wp-content/themes/made/images/review-fashion-light.png) no-repeat 0px 0px;">&nbsp;</div>

                            <div class="catname">
                                Fashion Review
                            </div>

                            <div class="category-arrow">&nbsp;</div>

                        </div>

                        <a class="darken small" href="single-review-numbers.php"><img width="230" height="135" src="http://www.industrialthemes.com/made/wp-content/uploads/2012/06/fashion3-230x135.jpg" alt="fashion3" /></a>

                        <div class="inner">

                            <h2><a href="single-review-numbers.php">5 Colorful Watches From Zappos for under $50</a></h2>

                            <div class="excerpt">Donec a tellus a eros laoreet ultrices non non nisi. Nulla et sem nisi. Praesent egestas ultricies feugiat. In hac habitasse platea dictumst. Cras a lacus erat. Aenean tempor nibh non lorem vulputate sodales. Suspendisse erat d...</div>

                        </div>

                        <div class="more-bar">

                            <div class="arrow-catpanel-top">&nbsp;</div>

                            <div class="rating-wrapper small"><div class="letter color3">C</div></div>

                            <div class="comments">

                                <a href="single-review-numbers.php" title="Comment on 5 Colorful Watches From Zappos for under $50">0 comments</a>

                            </div>

                            <div class="more"><a href="single-review-numbers.php">More</a></div>

                        </div>

                    </div>

                    <div class="clearer"></div>

                </li>

                <li>

                    <div class="post-panel">

                        <div class="category">

                            <div class="ribbon-shadow-left">&nbsp;</div>

                            <div class="icon" style="background:url(http://www.industrialthemes.com/made/wp-content/themes/made/images/review-restaurant-light.png) no-repeat 0px 0px;">&nbsp;</div>

                            <div class="catname">
                                Restaurant Review
                            </div>

                            <div class="category-arrow">&nbsp;</div>

                        </div>

                        <a class="darken small video" href="single-review-numbers.php"><img width="230" height="135" src="http://www.industrialthemes.com/made/wp-content/uploads/2012/06/restaurants6-230x135.jpg" alt="restaurants6" /></a>

                        <div class="inner">

                            <h2><a href="single-review-numbers.php">Sugar Rush: Banana Stracciatella Gelato from Eataly</a></h2>

                            <div class="excerpt">Donec sollicitudin venenatis mattis. Vestibulum fermentum, risus a luctus fermentum, enim purus aliquet tellus, id interdum nisl velit nec diam. Etiam mauris odio, aliquam a elementum eu, vulputate eu nunc.</div>

                        </div>

                        <div class="more-bar">

                            <div class="arrow-catpanel-top">&nbsp;</div>

                            <div class="rating-wrapper small"><div class="stars yellow"><div class="star  full">&nbsp;</div><div class="star  full">&nbsp;</div><div class="star  half">&nbsp;</div><div class="star ">&nbsp;</div><div class="star ">&nbsp;</div></div></div>

                            <div class="comments">

                                <a href="single-review-numbers.php" title="Comment on Sugar Rush: Banana Stracciatella Gelato from Eataly">0 comments</a>

                            </div>

                            <div class="more"><a href="single-review-numbers.php">More</a></div>

                        </div>

                    </div>

                </li>

                <li>

                    <div class="post-panel right">

                        <div class="category">

                            <div class="ribbon-shadow-left">&nbsp;</div>

                            <div class="icon" style="background:url(http://www.industrialthemes.com/made/wp-content/themes/made/images/review-music-light.png) no-repeat 0px 0px;">&nbsp;</div>

                            <div class="catname">
                                Music Review
                            </div>

                            <div class="category-arrow">&nbsp;</div>

                        </div>

                        <a class="darken small video" href="single-review-numbers.php"><img width="230" height="135" src="http://www.industrialthemes.com/made/wp-content/uploads/2012/06/music2-230x135.jpg" alt="music2" /></a>

                        <div class="inner">

                            <h2><a href="single-review-numbers.php">The Lumineers &#8211; The Lumineers</a></h2>

                            <div class="excerpt">Donec a tellus a eros laoreet ultrices non non nisi. Nulla et sem nisi. Praesent egestas ultricies feugiat. In hac habitasse platea dictumst. Cras a lacus erat. Aenean tempor nibh non lorem vulputate sodales. Suspendisse erat d...</div>

                        </div>

                        <div class="more-bar">

                            <div class="arrow-catpanel-top">&nbsp;</div>

                            <div class="rating-wrapper small"><div class="number color5">8.6</div></div>

                            <div class="comments">

                                <a href="single-review-numbers.php" title="Comment on The Lumineers &#8211; The Lumineers">0 comments</a>

                            </div>

                            <div class="more"><a href="single-review-numbers.php">More</a></div>

                        </div>

                    </div>

                    <div class="clearer"></div>

                </li>

            </ul>

        </div> <!--end spotlight slider-->
        <!-- end responsive version -->

    </div>
</div>
<div class="clearer"></div><br class="clearer" />