@model MovieDB.Models.Movies.Movie


@{
    ViewBag.Title = "SingleReview";
}
<div class="page-content review">

    <link rel="image_src" href="http://www.industrialthemes.com/made/wp-content/uploads/2012/06/movies3-160x160.jpg" />

    <div class="overview-wrapper">

        <h1 class="title">The Hobbit: An Unexpected Journey</h1>

        <div class="overview">

            <div class="arrow-catpanel-bottom">&nbsp;</div>

            <div class="left-panel">

                <div class="article-image video">

                    <iframe width="350" height="197" src="http://www.youtube.com/embed/sftuxbvGwiU" frameborder="0" allowfullscreen></iframe>
                    
                </div>

                <br class="clearer" />

                <div class="category">

                    <div class="ribbon-shadow-left">&nbsp;</div>

                    <div class="catname">

                        Quick Stats

                    </div>

                    <div class="category-arrow">&nbsp;</div>

                </div>

                <br class="clearer" />

                <span class="taxName">Genre</span>: <span class="taxContent">
                    <a href="archive-a.php" rel="tag">Action</a>,
                    <a href="archive-a.php" rel="tag">Sci-Fi</a>
                </span>

                <div class="separator">&nbsp;</div>

                <span class="taxName">Director</span>: <span class="taxContent">
                    <a href="archive-a.php" rel="tag">Quentin Terantino</a>,
                    <a href="archive-a.php" rel="tag">Ridley Scott</a>,
                    <a href="archive-a.php" rel="tag">Ron Howard</a>
                </span>

                <div class="separator">&nbsp;</div>

                <span class="taxName">Actor</span>: <span class="taxContent">
                    <a href="archive-a.php" rel="tag">Leonardo DiCaprio</a>,
                    <a href="archive-a.php" rel="tag">Penelope Cruz</a>,
                    <a href="archive-a.php" rel="tag">Scarlett Johansson</a>
                </span>

                <div class="separator">&nbsp;</div>

                <span class="taxName">MPAA Rating</span>: <span class="taxContent"><a href="archive-a.php" rel="tag">R</a></span>

                <div class="separator">&nbsp;</div>

                <span class="metaName">Release Date</span>: <span class="metaContent">July 2012</span>

                <div class="separator">&nbsp;</div>

                <span class="metaName">Length</span>: <span class="metaContent">2 hours 10 minutes</span>

                <div class="separator">&nbsp;</div>

                <span class="metaName">Storyline</span>: <span class="metaContent">Ut suscipit dapibus tellus, vitae gravida lectus faucibus sed. Sed dapibus mauris vulputate quam imperdiet egestas. Ut suscipit dapibus tellus, vitae gravida lectus faucibus sed. Sed dapibus mauris vulputate quam imperdiet egestas.</span>

                <div class="separator">&nbsp;</div>

                <span class="metaName">Studio</span>: <span class="metaContent">Paramount Pictures</span>

                <div class="separator">&nbsp;</div>

                <span class="metaName">Producer</span>: <span class="metaContent">Joel Silver</span>

                <div class="separator">&nbsp;</div>

                <span class="metaName">Composer</span>: <span class="metaContent">James Horner</span>

                <div class="separator">&nbsp;</div>

            </div>

            <div class="right-panel">

                <div class="ratings-wrapper">

                    <div id="criteria0" class="rating-criteria-wrapper regular number">

                        <div class="rating-criteria">
                            Directing
                        </div>

                        <div id="rating0" class="rating-wrapper small">

                            <div class="number color5 single">4.9</div>

                            <br class="clearer" />

                        </div>

                        <br class="clearer" />

                        <div class="rating-meter-wrapper">
                            <div class="rating-meter" id="meter0" style="background-image:url(http://www.industrialthemes.com/made/wp-content/themes/made/images/rating-meter-inner-bg.png);background-position:0px 0px;background-repeat:repeat-x;">&nbsp;</div>
                        </div>

                    </div>

                    <script type="text/javascript">
                            jQuery(window).load(function() {
                                jQuery('#criteria0').delay(1000).animate({
                                    opacity:1 //set opacity for entire criteria line
                                }, 1500, 'easeOutCubic');
                                jQuery('#meter0').delay(1000).animate({
                                    backgroundPosition: '110.25 0' //change background position for just the meter bar
                                }, 1500, 'easeOutCubic');
                            });
                    </script>

                    <div id="criteria1" class="rating-criteria-wrapper regular number">

                        <div class="rating-criteria">
                            Cinematography
                        </div>

                        <div id="rating1" class="rating-wrapper small">

                            <div class="number color5 single">9.0</div>

                            <br class="clearer" />

                        </div>

                        <br class="clearer" />

                        <div class="rating-meter-wrapper">
                            <div class="rating-meter" id="meter1" style="background-image:url(http://www.industrialthemes.com/made/wp-content/themes/made/images/rating-meter-inner-bg.png);background-position:0px 0px;background-repeat:repeat-x;">&nbsp;</div>
                        </div>

                    </div>

                    <script type="text/javascript">
                            jQuery(window).load(function() {
                                jQuery('#criteria1').delay(1500).animate({
                                    opacity:1 //set opacity for entire criteria line
                                }, 1500, 'easeOutCubic');
                                jQuery('#meter1').delay(1500).animate({
                                    backgroundPosition: '202.5 0' //change background position for just the meter bar
                                }, 1500, 'easeOutCubic');
                            });
                    </script>

                    <div id="criteria2" class="rating-criteria-wrapper regular number">

                        <div class="rating-criteria">
                            Plot
                        </div>

                        <div id="rating2" class="rating-wrapper small">

                            <div class="number color5 single">7.5</div>

                            <br class="clearer" />

                        </div>

                        <br class="clearer" />

                        <div class="rating-meter-wrapper">
                            <div class="rating-meter" id="meter2" style="background-image:url(http://www.industrialthemes.com/made/wp-content/themes/made/images/rating-meter-inner-bg.png);background-position:0px 0px;background-repeat:repeat-x;">&nbsp;</div>
                        </div>

                    </div>

                    <script type="text/javascript">
                            jQuery(window).load(function() {
                                jQuery('#criteria2').delay(2000).animate({
                                    opacity:1 //set opacity for entire criteria line
                                }, 1500, 'easeOutCubic');
                                jQuery('#meter2').delay(2000).animate({
                                    backgroundPosition: '168.75 0' //change background position for just the meter bar
                                }, 1500, 'easeOutCubic');
                            });
                    </script>

                    <div id="criteria3" class="rating-criteria-wrapper regular number">

                        <div class="rating-criteria">
                            Soundtrack
                        </div>

                        <div id="rating3" class="rating-wrapper small">

                            <div class="number color4 single">8.2</div>

                            <br class="clearer" />

                        </div>

                        <br class="clearer" />

                        <div class="rating-meter-wrapper">
                            <div class="rating-meter" id="meter3" style="background-image:url(http://www.industrialthemes.com/made/wp-content/themes/made/images/rating-meter-inner-bg.png);background-position:0px 0px;background-repeat:repeat-x;">&nbsp;</div>
                        </div>

                    </div>

                    <script type="text/javascript">
                            jQuery(window).load(function() {
                                jQuery('#criteria3').delay(2500).animate({
                                    opacity:1 //set opacity for entire criteria line
                                }, 1500, 'easeOutCubic');
                                jQuery('#meter3').delay(2500).animate({
                                    backgroundPosition: '184.5 0' //change background position for just the meter bar
                                }, 1500, 'easeOutCubic');
                            });
                    </script>

                    <div class="rating-criteria-outer number">

                        <div id="last-criteria" class="rating-criteria-wrapper last percentage">

                            <div class="rating-criteria">
                                Total Score
                            </div>

                            <div id="last-rating" class="rating-wrapper" style="background-image:url(http://www.industrialthemes.com/made/wp-content/themes/made/images/rating-number-last-color5.png);opacity:0">

                                <div class="number color5 single">7.4</div>

                                <br class="clearer" />

                            </div>

                            <br class="clearer" />

                        </div>

                    </div>

                    <script type="text/javascript">
                            jQuery(window).load(function() {
                                jQuery('#last-criteria').delay(1000).animate({
                                    opacity:1,
                                    backgroundPosition: '0 0'
                                }, 6000, 'easeOutCubic');
                                jQuery('.number #last-rating, .percentage #last-rating').delay(1000).animate({
                                    opacity:1
                                }, 6000, 'easeOutCubic');
                            });
                    </script>

                </div>

                <div class="ribbon-shadow-right">&nbsp;</div>

                <div class="summary">

                    <div class="positive-wrapper">

                        <div class="positive hand">

                            <h3>What We Liked</h3>

                            <br class="clearer" />

                        </div>

                        Maecenas faucibus mattis elit, vitae rutrum arcu suscipit et. Sed blandit convallis convallis. Etiam iaculis porttitor massa, quis tincidunt sapien varius at.
                    </div>

                    <div class="negative-wrapper">

                        <div class="negative hand">

                            <h3>What We Disliked</h3>

                            <br class="clearer" />

                        </div>

                        Maecenas faucibus mattis elit, vitae rutrum arcu suscipit et. Sed blandit convallis convallis. Etiam iaculis porttitor massa, quis tincidunt sapien varius at.
                    </div>

                </div>

            </div>

            <br class="clearer" /><br />

            <div class="excerpt">

                <div class="bottom-line">Our Final Take</div>

                <p>Ut suscipit dapibus tellus, vitae gravida lectus faucibus sed. Sed dapibus mauris vulputate quam imperdiet egestas. Ut suscipit dapibus tellus, vitae gravida lectus faucibus sed. Sed dapibus mauris vulputate quam imperdiet egestas.</p>

            </div>

            <div class="bottom">

                <div class="comment-bubble">

                    <a href="http://www.industrialthemes.com/made/movie/the-hobbit-an-unexpected-journey/#respond" title="Comment on The Hobbit: An Unexpected Journey">0</a>
                </div>

                <div class="section">

                    Posted April 15, 2012 by <a href="http://www.google.com" title="Visit Claude Debussey&#8217;s website" rel="author external">Claude Debussey</a>

                </div>

            </div>

        </div>

    </div>

    <br class="clearer" />

    <div class="review-content">

        <div class="ribbon-shadow-left">&nbsp;</div>
        <div class="section-wrapper">
            <!-- full article header -->

            <div class="section">

                Read The Full Review

            </div>

        </div>

        <div class="ribbon-shadow-right">&nbsp;</div>

        <div class="section-arrow">&nbsp;</div>

        <div class="content-panel">

            <div class="the-content">

                <div class="dropcap prociono">L</div>
                <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae tristique lectus. Integer facilisis imperdiet augue, vitae iaculis felis sollicitudin vitae. Curabitur convallis, enim sit amet volutpat luctus, ipsum elit pharetra tellus, ac consequat lectus ipsum nec sem. Nullam rhoncus turpis ut urna dapibus vitae ultricies dui malesuada. Maecenas id sem sed massa bibendum vehicula. Nunc mollis aliquet magna, ac ornare mi hendrerit vitae. Proin sit amet mi non lorem porttitor interdum. In odio diam, pretium sit amet tincidunt a, rutrum vitae est. Nunc cursus hendrerit sem sed elementum. Mauris elit velit, vulputate eu tincidunt sit amet, sodales a dolor. Duis nec bibendum lorem. Phasellus lectus tellus, elementum ultricies dapibus in, dapibus sit amet nisl. Sed aliquam, nunc at feugiat aliquet, tellus ipsum semper sem, vitae adipiscing nibh nisl ac mauris. Mauris molestie tincidunt mollis.</p>
                <div class="pullquote-wrapper left">
                    <div class="pullquote prociono">Suspendisse erat dui, vestibulum at sagittis sit amet, sodales ut felis. </div>
                </div>
                <p> Phasellus consectetur feugiat elit, id auctor lectus pellentesque mollis. Donec a tellus a eros laoreet ultrices non non nisi. Nulla et sem nisi. Praesent egestas ultricies feugiat. In hac habitasse platea dictumst. Cras a lacus erat. Aenean tempor nibh non lorem vulputate sodales. Suspendisse erat dui, vestibulum at sagittis sit amet, sodales ut felis. Aenean fermentum ipsum sit amet ante facilisis euismod. Aenean pellentesque scelerisque eros, sit amet convallis arcu imperdiet sed. Donec sit amet nisi orci, vitae suscipit ipsum. Donec sollicitudin venenatis mattis. Vestibulum fermentum, risus a luctus fermentum, enim purus aliquet tellus, id interdum nisl velit nec diam. Etiam mauris odio, aliquam a elementum eu, vulputate eu nunc. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                <p>
                    <!-- the tabs -->
                    <div class="tabs-shortcode">
                        <ul class="tabnav">
                            <li><a class="first" href="#1">Details</a></li>
                            <li><a href="#2">Top Critic Reviews</a></li>
                            <li><a href="#3">Full Cast and Crew</a></li>
                            <li><a href="#4">Buy Tickets Online</a></li>
                        </ul>
                        <div class="tabdiv-wrapper">
                            <div id="1" class="tabdiv">
                                <h3>Details</h3>
                <p>Donec sollicitudin venenatis mattis. Vestibulum fermentum, risus a luctus fermentum, enim purus aliquet tellus, id interdum nisl velit nec diam. Etiam mauris odio, aliquam a elementum eu, vulputate eu nunc. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.<a href="#"><img class="aligncenter size-medium wp-image-458" title="music6" src="http://www.industrialthemes.com/made/wp-content/uploads/2012/06/music6-300x300.jpg" alt="" width="300" height="300" /></a>Donec sollicitudin venenatis mattis. Vestibulum fermentum, risus a luctus fermentum, enim purus aliquet tellus, id interdum nisl velit nec diam. Etiam mauris odio, aliquam a elementum eu, vulputate eu nunc. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            </div>
            <div id="2" class="tabdiv">
                <h3>Top Critic Reviews</h3>
                <p>Donec sollicitudin venenatis mattis. Vestibulum fermentum, risus a luctus fermentum, enim purus aliquet tellus, id interdum nisl velit nec diam. Etiam mauris odio, aliquam a elementum eu, vulputate eu nunc. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.<a href="http://www.industrialthemes.com/made/wp-content/uploads/2012/06/movies3.jpg"><img class="aligncenter size-medium wp-image-445" title="movies3" src="http://www.industrialthemes.com/made/wp-content/uploads/2012/06/movies3-300x211.jpg" alt="" width="300" height="211" /></a>Donec sollicitudin venenatis mattis. Vestibulum fermentum, risus a luctus fermentum, enim purus aliquet tellus, id interdum nisl velit nec diam. Etiam mauris odio, aliquam a elementum eu, vulputate eu nunc. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            </div>
            <div id="3" class="tabdiv">
                <h3>Full Cast and Crew</h3>
                <p>Donec sollicitudin venenatis mattis. Vestibulum fermentum, risus a luctus fermentum, enim purus aliquet tellus, id interdum nisl velit nec diam. Etiam mauris odio, aliquam a elementum eu, vulputate eu nunc. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.<a href="http://www.industrialthemes.com/made/wp-content/uploads/2012/06/movies1.jpg"><img class="aligncenter size-medium wp-image-443" title="movies1" src="http://www.industrialthemes.com/made/wp-content/uploads/2012/06/movies1-300x203.jpg" alt="" width="300" height="203" /></a>
            </div>
            <div id="4" class="tabdiv">
                <h3>Buy Tickets Online</h3>
                <p>Donec sollicitudin venenatis mattis. Vestibulum fermentum, risus a luctus fermentum, enim purus aliquet tellus, id interdum nisl velit nec diam. Etiam mauris odio, aliquam a elementum eu, vulputate eu nunc. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.<a href="http://www.industrialthemes.com/made/wp-content/uploads/2012/06/music9.jpg"><img class="aligncenter size-medium wp-image-461" title="music9" src="http://www.industrialthemes.com/made/wp-content/uploads/2012/06/music9-300x295.jpg" alt="" width="300" height="295" /></a>Donec sollicitudin venenatis mattis. Vestibulum fermentum, risus a luctus fermentum, enim purus aliquet tellus, id interdum nisl velit nec diam. Etiam mauris odio, aliquam a elementum eu, vulputate eu nunc. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            </div>
        </div>
    </div>
    <p>Maecenas faucibus mattis elit, vitae rutrum arcu suscipit et. Sed blandit convallis convallis. Etiam iaculis porttitor massa, quis tincidunt sapien varius at. Quisque sapien lectus, suscipit venenatis sagittis sed, ullamcorper vitae leo. Ut suscipit dapibus tellus, vitae gravida lectus faucibus sed. Sed dapibus mauris vulputate quam imperdiet egestas. Maecenas adipiscing nibh eu augue ultricies laoreet eu sed eros. Maecenas lectus dui, tristique ut sollicitudin vel, pellentesque quis diam.</p>
    <div class="checklist">
        <ul>
            <li>Aenean fermentum ipsum sit amet ante facilisis euismod.</li>
            <li>Aenean fermentum ipsum sit amet ante facilisis euismod.</li>
            <li>Aenean fermentum ipsum sit amet ante facilisis euismod.</li>
        </ul>
    </div>
    <h3>Aenean fermentum ipsum sit amet ante facilisis euismod.</h3>
    <p>Aenean fermentum ipsum sit amet ante facilisis euismod. Aenean pellentesque scelerisque eros, sit amet convallis arcu imperdiet sed. Donec sit amet nisi orci, vitae suscipit ipsum. Donec sollicitudin venenatis mattis. Vestibulum fermentum, risus a luctus fermentum, enim purus aliquet tellus, id interdum nisl velit nec diam. Etiam mauris odio, aliquam a elementum eu, vulputate eu nunc. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    <div class="pullquote-wrapper right">
        <div class="pullquote prociono">Maecenas faucibus mattis elit, vitae rutrum arcu suscipit et. Sed blandit convallis convallis.</div>
    </div>
    <p> Etiam iaculis porttitor massa, quis tincidunt sapien varius at. Quisque sapien lectus, suscipit venenatis sagittis sed, ullamcorper vitae leo. Ut suscipit dapibus tellus, vitae gravida lectus faucibus sed. Sed dapibus mauris vulputate quam imperdiet egestas. Maecenas adipiscing nibh eu augue ultricies laoreet eu sed eros. Maecenas lectus dui, tristique ut sollicitudin vel, pellentesque quis diam.</p>
    <div class="toggle-box-wrapper">
        <div class="toggle-box">
            <h3 class="toggle">Read More Details About This Review</h3>
            <div class="toggle-content">
                <p>Maecenas faucibus mattis elit, vitae rutrum arcu suscipit et. Sed blandit convallis convallis. Etiam iaculis porttitor massa, quis tincidunt sapien varius at. Quisque sapien lectus, suscipit venenatis sagittis sed, ullamcorper vitae leo. Ut suscipit dapibus tellus, vitae gravida lectus faucibus sed. Sed dapibus mauris vulputate quam imperdiet egestas. Maecenas adipiscing nibh eu augue ultricies laoreet eu sed eros. Maecenas lectus dui, tristique ut sollicitudin vel, pellentesque quis diam.</p>
                <div class="quote-wrapper">
                    <div class="quote">Proin sit amet mi non lorem porttitor interdum. In odio diam, pretium sit amet tincidunt a, rutrum vitae est. Nunc cursus hendrerit sem sed elementum. Mauris elit velit, vulputate eu tincidunt sit amet, sodales a dolor.</div>
                </div>
                <p>Maecenas faucibus mattis elit, vitae rutrum arcu suscipit et. Sed blandit convallis convallis. Etiam iaculis porttitor massa, quis tincidunt sapien varius at. Quisque sapien lectus, suscipit venenatis sagittis sed, ullamcorper vitae leo. Ut suscipit dapibus tellus, vitae gravida lectus faucibus sed. Sed dapibus mauris vulputate quam imperdiet egestas. Maecenas adipiscing nibh eu augue ultricies laoreet eu sed eros. Maecenas lectus dui, tristique ut sollicitudin vel, pellentesque quis diam.</p>
                <p>Maecenas faucibus mattis elit, vitae rutrum arcu suscipit et. Sed blandit convallis convallis. Etiam iaculis porttitor massa, quis tincidunt sapien varius at. Quisque sapien lectus, suscipit venenatis sagittis sed, ullamcorper vitae leo. Ut suscipit dapibus tellus, vitae gravida lectus faucibus sed. Sed dapibus mauris vulputate quam imperdiet egestas. Maecenas adipiscing nibh eu augue ultricies laoreet eu sed eros. Maecenas lectus dui, tristique ut sollicitudin vel, pellentesque quis diam.</p>
                <p>Maecenas faucibus mattis elit, vitae rutrum arcu suscipit et. Sed blandit convallis convallis. Etiam iaculis porttitor massa, quis tincidunt sapien varius at. Quisque sapien lectus, suscipit venenatis sagittis sed, ullamcorper vitae leo. Ut suscipit dapibus tellus, vitae gravida lectus faucibus sed. Sed dapibus mauris vulputate quam imperdiet egestas. Maecenas adipiscing nibh eu augue ultricies laoreet eu sed eros. Maecenas lectus dui, tristique ut sollicitudin vel, pellentesque quis diam.</p>
                <div class="box-wrapper tip">
                    <div class="box tip"> Ut suscipit dapibus tellus, vitae gravida lectus faucibus sed. Sed dapibus mauris vulputate quam imperdiet egestas. Maecenas adipiscing nibh eu augue ultricies laoreet eu sed eros. Maecenas lectus dui, tristique ut sollicitudin vel, pellentesque quis diam.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="signoff-wrapper">
        <div class="signoff">Did you enjoy this article? If so, we&#8217;d love to hear your thoughts in the comments below. It would be great if you subscribed to our RSS feed or signed up for email updates to get more goodness. There&#8217;s lots more where this came from!</div>
    </div>

</div>

<div class="tags">

    <a href="archive-a.php" title='hybird Tag' class='hybird'>hybird</a>
    <a href="archive-a.php" title='men Tag' class='men'>men</a>
    <a href="archive-a.php" title='modern Tag' class='modern'>modern</a>
    <a href="archive-a.php" title='old fashion Tag' class='old-fashion'>old fashion</a>
    <a href="archive-a.php" title='prototype Tag' class='prototype'>prototype</a>
    <a href="archive-a.php" title='ready to wear Tag' class='ready-to-wear'>ready to wear</a>
    <a href="archive-a.php" title='red carpet Tag' class='red-carpet'>red carpet</a>

</div>

<div class="clearer"></div>

                <?php include("inc/authorbox.php"); //get the authorbox ?>

                <?php include("inc/relatedbox.php"); //get the related panel ?>

<div class="clearer"></div>

        	</div>

    	</div>

    </div>
